@{
    ViewData["Title"] = "Quên mật khẩu";
}
<h2>Quên mật khẩu</h2>

<form method="post">
    <label>Email:</label>
    <input type="email" name="email" required />
    <button type="submit">Gửi mã xác minh</button>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}
